.countrie-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}


@media screen and (max-width:768px) {
    .countrie-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:567px) {
    .countrie-container{
        grid-template-columns: repeat(1, 1fr);
    }
}