.country{
    border: 2px solid skyblue;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

.visited{
    background-color:darkblue;
    color: white;
}
.non-visited{
    background-color: #32073f;
    color: white;
}